*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

main{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    margin-top: calc((100vh - 600px) / 2);
    background-color: blue;
}

div.carousel{
    position: relative;
    height: 100%;
}

div.img-carousel{
    width: 100%;
    height: 100%;
}

div.img-carousel img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.img-carousel h2.img-title,
div.img-carousel p.img-description{
    text-align: center;
    color: white;
    position: relative;
}

div.img-carousel h2.img-title{
    font-size: 3rem;
    bottom: 180px;
}

div.img-carousel p.img-description{
    font-size: 1.3rem;
    bottom: 180px;

}

div.carousel div.previous-button,
div.carousel div.next-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

div.carousel div.previous-button button,
div.carousel div.next-button button{
    color: rgb(26, 26, 26);
    background-color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
}

div.carousel div.previous-button button:hover,
div.carousel div.next-button button:hover{
    color: rgb(211, 211, 211);
    background-color: rgb(102, 102, 102);
}

div.carousel div.previous-button{
    left: 20px;
}

div.carousel div.next-button{
    right: 20px;
}